/*chats*/
.messages .message {
    background: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 0 3px #DDD;
    box-shadow: 0 0 3px #DDD;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
  .messages .message .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .messages .message .title img {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .messages .message .title .txt {
    margin: 0 10px;
  }
  .messages .message .title .txt h4 {
    color: #e14785;
    font-size: 20px;
  }
  .messages .message .title .txt p {
    color: #585858;
    font-size: 14px;
    max-width: 800px;
  }
  body .site-btn.pink {
    background-color: #E14785;
    border-color: #E14785;
    color: #fff;
  }
  body .site-btn {
    background-color: #FFCD3E;
    color: #fff;
    min-width: 120px;
    height: 40px;
    line-height: 38px;
    display: block;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #FFCD3E;
        border-top-color: rgb(255, 205, 62);
        border-right-color: rgb(255, 205, 62);
        border-bottom-color: rgb(255, 205, 62);
        border-left-color: rgb(255, 205, 62);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .chat {
    position: relative;
    padding: 40px 0
  }

  .chat .chat-header {
    padding: 20px;
    -webkit-box-shadow: 0 0 3px #DDD;
    box-shadow: 0 0 3px #DDD
  }

  .chat .chat-header .people-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }

  .chat .chat-header .people-blocks .img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden
  }

  .chat .chat-header .people-blocks .img img {
    width: 100%;
    height: 100%
  }

  .chat .chat-header .people-blocks .desc {
    margin: 0 10px
  }

  .chat .chat-header .people-blocks .desc h5 {
    font-size: 18px;
    color: #FFCD3E
  }

  .chat .chat-header .people-blocks .desc p {
    color: #585858;
    font-size: 15px;
    position: relative;
    padding: 0 15px
  }
  #stars .star-rating .fa-star{
    color:#FFCC00;
  }
  .chat .chat-header .people-blocks .desc p:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #9a160d;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
  }
  .chat .chat-header .people-blocks .desc p.online:after{
    background-color: #2fbb35;
  }
  .chat .chat-content {
    height: calc(100vh - 95px);
    overflow: hidden;
    overflow-y: auto;
    padding: 20px;
    -webkit-box-shadow: 0 0 1px #DDD;
    box-shadow: 0 0 1px #DDD
  }

  .chat .chat-content .people-blocks {
    margin-bottom: 20px
  }
  .chat .chat-content .people-blocks.recieve .file{
    text-align:left;
  }
  .chat .chat-content .people-blocks .desc {
    color: #fff;
    background-color: #e14785;
    padding: 15px;
    border-radius: 30px 30px 0 30px;
    display: inline-block;
    max-width:800px;
  }

  .chat .chat-content .people-blocks .desc p {
    margin: 0
  }

  .chat .chat-content .people-blocks .time {
    color: #585858;
    font-size: 14px
  }

  .chat .chat-content .people-blocks.recieve {
    direction: ltr;
    float:left;
    clear:both;
  }
  .chat .chat-content .people-blocks.send{
    clear:both;
  }

  .chat .chat-content .people-blocks.recieve .desc {
    background-color: #FFCD3E !important;
    float:left;
    border-radius: 30px 30px 30px 0 !important
  }

  .chat .chat-content .people-blocks.recieve .time {
    text-align: left;
    clear:both;
  }

  .chat .chat-footer {
    padding: 20px;
    -webkit-box-shadow: 0 0 3px #DDD;
    box-shadow: 0 0 3px #DDD
  }

  .chat .chat-footer form {
    position: relative
  }

  .chat .chat-footer form .form-group {
    margin: 0
  }

  .chat .chat-footer form .form-group textarea {
    width: 100%;
    resize: none;
    border-radius: 30px;
    margin-bottom: 0;
    height: 55px;
    line-height: 25px;
    padding: 14px 50px;
    background-color: #F0EEEE;
    border-color: transparent
  }

  .chat .chat-footer form .form-group textarea:focus {
    border-color: #E14785;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
  }

  .chat .chat-footer form .form-group.file {
    position: absolute;
    top: 0;
    margin: 0;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 55px;
    text-align: center;
    color: #77959E;
    font-size: 18px;
    cursor: pointer
  }

  .chat .chat-footer form .form-group.file input {
    position: absolute;
    top: 0;
    margin: 0;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    opacity: 0
  }

  .chat .chat-footer form .form-group.sub {
    position: absolute;
    top: 3px;
    left: 0;
    margin: 0
  }

  .chat .chat-footer form .form-group.sub .site-btn {
    background-color: transparent;
    color: #e14785;
    border-color: #e14785;
    width: 50px;
    min-width: 50px;
    height: 50px;
    font-size: 18px
  }

  .chat .chat-footer form .form-group.sub .site-btn:hover {
    background-color: #E14785;
    color: #fff
  }

  .chat.dash {
    padding: 0
  }

  .chat.dash .messenger {
    background-color: #fff
  }

  .chat.dash .messenger .chat-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }

  .chat.dash .messenger .chat-header .people-blocks p {
    margin: 0
  }

  .chat.dash .messenger .chat-header .people-blocks span {
    font-size: 13px;
    display: block;
    max-width: 200px
  }

  .chat.dash .messenger .chat-header .people-blocks.product-blocks .title {
    color: #E14785
  }

  .chat.dash .messenger .chat-header .people-blocks.product-blocks p.count {
    color: #E14785;
    padding: 0
  }

  .chat.dash .messenger .chat-header .people-blocks.product-blocks p.count:after {
    display: none
  }

  .chat.dash .messenger .chat-header .people-blocks.product-blocks a {
    font-size: 13px;
    text-decoration: underline
  }

  .chat.dash .messenger .chat-header-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }

  .chat.dash .messenger .chat-header-btns .site-btn {
    margin: 20px
  }

  @media (max-width: 767px) {
    .chat.dash .messenger .chat-header {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap
    }

    .chat.dash .messenger .chat-header .people-blocks:not(:last-child) {
      margin-bottom: 20px
    }

    .chat.dash .messenger .chat-header .people-blocks span {
      max-width: 150px
    }
  }
  @media (max-width: 475.98px) {
    .boxes .col-sm-6 div#datatable_filter {
      float: none;
      text-align: center;
    }

    .boxes .col-sm-6 {
      float: none;
      text-align: center;
      display: inline-block;
      width: 10px;
    }
  }

  @media (min-width: 476px) and (max-width: 767.98px) {
    .boxes .col-sm-6 div#datatable_filter {
      float: right;
    }

    .boxes .col-sm-6 {
      float: right;
      display: inline-block;
      width: 50%;
    }
  }
  /*end chats*/
